/* # --> id */
/* . --> class */

*{
    margin: 0;
    padding: 0;
}

#form_login{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;

    margin: 10rem auto;

    background-color:#019EFF;


    display: flex;
 
}

#conten_img{

    display: flex;
    justify-content: center;
    align-items: center;

    border-width: 0px 0px 0px 0px;
    border-color: black;
    border-style: solid;
    

    padding: 1rem 1rem;
}

#conten_form{
    border-width: 0px 0px 0px 2px;
    border-color: black;
    border-style: solid;

    padding: 0rem 1rem 0rem 2rem;
}

.contenedor_ops{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 16px 0px 16px;

}


@media all and (max-width: 812px){
    #form_login{
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 55%;

        margin: 10rem auto;
    
        background-color: #019EFF;
    
        display: block;
    }

    #conten_img{
        display: flex;
        justify-content: center;
        align-items: center;

        border-color: black;
        border-style: solid;
        
        border-radius: 0px 0px 2px 0px;
    
    
        padding: 1rem 0rem;
    }

    #conten_form{
        border-width: 2px 0px 0px 0px;
        border-color: black;
        border-style: solid;
    
        padding: 1rem 1rem;
    }


}
