*{
    margin: 0;
    padding: 0;
}

body{
    background: #0E87C2;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario{
    width: 40%;
    background-color: #fff;
    border-radius: 15px;
    min-height: 60vh;
    max-height: auto;
    position: relative;
    z-index: 1;
}
.imagen img{
    object-fit: cover;
    margin-left: -300px;

    max-height: 70vh;
    border-radius: 15px;
}
.alert-container {
    margin: auto;
    width: 80%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}
.entradas{
    display: flex;
    margin: 5px;
    min-width:10vh;
    min-height: 5vh;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0;
}
.entradas input {
    border: none;
    outline: none;
    box-shadow: none;
}

p{
    text-align: center;
    font-size: 30px;
}
.icon{
    /*vertical-align: middle;
    position: absolute;*/

    width: 30px;
    margin: 5px;
}

button, input{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: center;
}

@media all and (max-width: 900px) {
    .formulario{
        width: 80%;
    }
    .imagen img{
        display: none;
    }
    .entradas{
        width: 90%;
    }
}

@media all and (max-width: 600px) {

    .formulario{
        width: 90%;
    }
    .imagen img{
        display: none;
    }
    .entradas{
        width: 80%;
    }
}

/*#form_login{
border-radius: 20px;
  margin: 120px;
  background: url("/img/registro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px auto;
  object-fit: cover;
  margin-left: 200px;
  min-height: 68vh;
}*/
/*

#icon{
    position: relative;
    bottom: 30px;
    width: 20px;
    background-size: 100px;
}
.mb-2{
    justify-content: center;
    background-color: white;
    margin-bottom: 0.0rem;
}
.col-sm-7{
    background-color: white;

}
.ms-0{
    display: flex;
    background-color: white;
    justify-content: center;
    float: right;
}

.ms-3{
    width: 100px;
    height: 40px;
}*/


/*
.row>* {
    flex-shrink: 0;
    width: 70%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    height: 40px;
    border-radius: 20px;
    margin-top: var(--bs-gutter-y);
}


#conten_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-width: 0px 0px 0px 2px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    background-color: white;
    padding: 1rem 1rem 1rem 2rem;
    float: left;
    width: 500px;
    height: auto;
    justify-content: center;
    
}*/

/*

@media all and (max-width: 1000px){
    #form_login{
        border-radius: 20px;
      margin: 120px;
      background: url("/img/registro.jpg");
      background-position: center;
      background-size: 800px 500px;
      object-fit: cover;
      margin-right: 100px;
      height: 500px;
    }
    #conten_form{
        border-width: 0px 0px 0px 2px;
        border-color: black;
        border-style: solid;
        border-radius: 20px;
        background-color: white;
        padding: 1rem 1rem 1rem 2rem;
        float: left;
        width: 400px;
        height: 500px;
        justify-content: center;
        
    }
    p{
        text-align: center;
        background-color: white;
        font-size: 40px;
    }
    .row>* {
        flex-shrink: 0;
        width: 70%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        height: 40px;
        border-radius: 20px;
        margin-top: var(--bs-gutter-y);
    }
    .ms-3{
        width: 80px;
        float: left;
    }
    .ms-0{
        background-color: white;
        justify-content: center;
        float: right;
        margin-right: 85px;
    }


}
@media all and (max-width: 800px) {
    #form_login{
        border-radius: 20px;
      margin: 140px;
      background: url("/img/registro.jpg");
      background-position: center;
      background-size: 800px 500px;
      object-fit: cover;
      margin-left: 30px;
      width: 600px;
      height: 500px;
    }
    #conten_form{
        border-width: 0px 0px 0px 2px;
        border-color: black;
        border-style: solid;
        border-radius: 20px;
        background-color: white;
        padding: 1rem 1rem 1rem 2rem;
        float: left;
        width: 330px;
        height: 500px;
        justify-content: center;
        
    }
    .ms-3{
        width: 80px;
        float: right;
    }
    .ms-0{
        background-color: white;
        justify-content: center;
       float: right;
        margin-right: 65px;
    }
    .form-control {
        width: 250px;
    }
    .mb-2{
        justify-content: left;
        background-color: white;
    }
}
@media all and (max-width: 600px) {
    #form_login {
        border-radius: 20px;
        margin: 120px; 
        background: url(/img/registro.jpg);
        background-position: center;
        background-size: 800px 500px;
        object-fit: cover; 
        margin-left: 20px;
        width: 550px;
        height: 500px; 
    }
    #conten_form{
        border-width: 0px 0px 0px 2px;
        border-color: black;
        border-style: solid;
        border-radius: 20px;
        background-color: white;
        padding: 1rem 1rem 1rem 2rem;
        float: left;
        width: 300px;
        height: 500px;
        justify-content: center;
        
    }
    .mb-2{
       
        background-color: white;
    }
    .ms-3{
        width: 80px;
    }
    .form-control {
        display: block;
        width: 240px;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}*/