*{
    margin: 0;
    padding: 0;
}

.content{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-activades{
    margin-top: 3rem;
    background-color: #3C84AB;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 20px;
}

.icon-activid{
    padding: .5rem 0rem .5rem 2rem;
}

.name-activid{
    font-size: 20px;
    color: white;
    font-weight: bold;

    padding: .5rem 2rem;
}

.actividad{
    display: flex;
    text-align: start;
    align-items: center;

    width: 44rem;

    background-color: #019EFF;
    margin-bottom: 1rem;
}

.actividad:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.boton-volver{
    background-color: #3C84AB !important;
}


 
