h2 {
    color: rgb(0, 0, 0);
}
/*contenedor general*/
.content{
    padding: 0;
    margin: 0;
}

.tittleAulas h2{
    font-size: 2vh;
    max-height: 50px;
    padding: 0px !important;
    margin: 0 20px !important;
}

/*Contenedor general Buscador*/
.content-search{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

/*Buscador*/
.search{
    display: inline-flex;
}
/*input*/
.input-search {
    width: 30vw;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.697);
    border-radius: 2px 0px 0px 2px;
    outline: 0;
}

/*icon*/
.btn-icon {
    text-align: center;
    padding: 2%;
    font-size: 20px;
    height: 100%;
    background-color: rgb(172, 172, 172);
    width: 5vw;
    border-radius: 0px 2px 2px 0px;
}
/*lista de busqueda*/
#box-search{
    position: fixed;
    left: 65%;
    margin-left: auto;
    background-color: #019EFF;
    width: 35vw;
    height: 100%;
    overflow: hidden;
    /* display: none; */
}
ul {
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0;
  }

#box-search li a{
    display: block;
    width: 35vw;
    color: #777777;
    padding: 12px 20px;
    list-style: none;
    text-decoration: none;
}
#box-search li a:hover{
    background: aqua;
}

#box-search li a i{
    margin-right: 10px;
    color: #777777;
}

/*--------------------------ventana Emergente-----------------------------------*/
#ventana-emergente {
    padding: 0px !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    background-color: #85CDFD;
    padding: 20px;
    z-index: 10;
    display: none;
}

#ventana-emergente h2{
    color:white;
    text-align: center;
    background-color:#019EFF ;
}

#ventana-emergente p{
    padding-top: 20px;
    text-align: center;
    font-size: 3vh;
}
.input-container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.input-container input {
    text-align: center;
    background-color: #DEFCF9;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.botones-container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.botones-container button {
    background-color: #019EFF;
    border-radius: 15px;
    margin: 0 60px;
    padding: 10px 20px;
}
/*---------------------ventana-emergente-confirmacion-----------------*/
#ventana-emergente-confirmacion{
    padding: 0px !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    background-color: #85CDFD;
    padding: 20px;
    z-index: 10;
    display: none;
}

#ventana-emergente-confirmacion h2{
    color:white;
    text-align: center;
    background-color:#019EFF ;
}

#ventana-emergente-confirmacion p{
    padding-top: 20px;
    text-align: center;
    font-size: 3vh;
}


/*--------------------------texto no hay aulas*/
.content-aulas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.no-hay{
    opacity: 20%;
}

/*------------targetas aulas---------------------------*/

.aulas{
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.aula{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 180px;
    background-color: #019EFF;
    margin: 20px;
    display: none;
}
.aula h5{
    color: white;
    text-align: center;
    justify-items: center;
}

.searchinput{
    width: 80%;
    height: 40px;
    min-height: 40px;
    border-radius: 10px 0px 0px 10px;
    background: gray;
    color: black !important;
}
.searchinput::placeholder{
    color: black;
}
.searchinput::placeholder{
    margin: 5px !important;
}


.sectionSearch{
    height: 40px;
    min-height:40px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.bthSearch{
    border-radius: 0px 10px 10px 0px !important;
    min-width: 20% !important;
    min-height: 40px;
    height: 40px;
}

.barinfo{
    background: gray;
    margin-top: 10px;
}
