.containerTarjetas {
    min-width: 300px;
    min-height: 100vh;
    /* background-color: violet; */
    margin: 25px 30px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;

}


.tarjeta {
    position: relative;

    min-width: 250px;
    min-height: 160px;
    max-height: 40vh;
    margin: 0 auto;
    background-color: #ccc;
    padding: 20px;
    border-radius: 0px 15px 0px 15px;
    /* border: black solid 3px; */
}

.tarjeta p {
    overflow: auto;
    max-width: 200px;
    max-height: 100px;
    margin: 0;
}

#botones {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    min-width: 30px;
    min-height: 30px;

}

#botones button i {
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;


}

.btn{
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
}
/*
.fa-solid{ */
    /* line-height: null !important; */
/* } */
