*{
    margin: 0;
    padding: 0;
}

/* estilos glovales */
.contendbutton{
    text-align: center;
}

/* encabezado de ventana */
.modal-header{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #3C84AB;
}
.modal-header .btn-close {
    margin: 0;
}

.btnVolver{
    margin-top: 4rem;
}


/* informacion del aula */
.info-aula{
    background-color:#019EFF;

    display: flex;
    justify-content: space-between; 
}

.name-aula p{
    margin: 0;
    padding: 1rem 2rem;
    font-size: 24px;
    font-weight: bold;
}

.id-aula p{
    margin: 0;
    padding: 1rem 2rem;
    font-size: 24px;
    font-weight: bold;

    color: #019EFF;
    color: #3C84AB;
}


/* ------------------------------------- Estilos para pantallas de 463px o menos ----------------------------------*/
@media (max-width: 463px) {

/* informacion del aula */
.info-aula{
    background-color:#019EFF;

    display: flex;
    justify-content: space-between; 
}

.name-aula p{
    margin: 0;
    padding: 1rem 1rem;
    font-size: 16px;
    font-weight: bold;
}

.id-aula p{
    margin: 0;
    padding: 1rem 1rem;
    font-size: 16px;
    font-weight: bold;
}


/* conten principal con 3 botones */
.options-actvs{
    display: flex;
    width: 100%;
    height: 56px;    
}

/* BOTON 1 */
/* Agregar y ver actividades */

/* contenedor de agregar y ver actividades */
.accordion{
    width: 33.333%;
    height: 100%;
}

.accordion-item{
    height: 100%;
}

/* contenedor */
.contendbutton{
    text-align: center;
    height: 100%;
}


/* boton de agregar y ver actividades */
.accordion-button{
    background-color: #019EFF;
    border: solid 1px#000000;

    height: 100%;
}

/* boton y contenedor por actividad boton*/
.activity{ 
    display: flex;
    align-items: center;
    height: 100%;

    margin: .5rem 0;
}

.nameActivity{
    font-size: 14px;
    margin: 0;
}



/* Boton para abrir ventana para crear una actividad */
.btnCrear{
    font-size: 14px;

    margin-top: 2rem;
    padding: 0 1rem;
}

/* nombre del la ventana */
.modal-title{
    width: 95%;
}

/* contenedor del formulario body */
.conten-modal{
    width: 100%;
}

/* formulario inputs */
.card-instruc{
    width: 100%;
}

/* contenedor de los 3 inputs */
.cardDesc{
    background-color: #DEFCF9;
}



/* establecer fecha */
.fecha{
    width: 100%;
    text-align: center;
    font-weight: bold;

    margin-top: 2rem;
}

/* titulo fecha */
.nameDate{
    margin: 0;
    font-size: 18px;
    margin-left: 1rem;
    font-weight: normal;
    text-align: center;
}

/* fecha inicial y final */
.date-if{
    display:flex ;
    align-items: center;
    margin-top: 1rem;
}

/* FIN Agregar y ver actividades */



/* BOTON 2 */
/* Revisar actividades */

/* Button Abrir ventana de revisar actividades */
.contendButtonRevi{
    width: 33.333%;
    height: 100%;
}

.buttonActivityOptions{
    width: 100%;
    height: 100%;

    background-color: #019EFF;
    border: solid 1px#000000;

    padding: 0rem 1rem;
    border-radius: 0;
    
    font-size: 18px;
    font-weight: bold;
    color: #000000;

}
.buttonActivityOptions:hover{
    background-color: #019EFF;
    border: solid 1px#000000;
    color: #000000;
}

.name-btn-rev{
    width: 100%;
    margin: 0;
    font-size: 12px;
}

.icon-boton{
    margin: 0;
    display: none;
}

/* ventana revisar actividad */

/* lista de actividades por revisar */
.actividaxRevisar{
    display: flex;
    align-items: center;
    
    background-color: #019EFF;
    margin-top: 1rem;
    
}
.iconActividaxRevisar{
    margin-left: 1rem;
    width: 10%;
}

/* boton de revisar */
.btnActividadxRevisar{
    width: 90%;

    padding: 1rem;
    
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

/* FIN Revisar actividades */



/* BOTON 3 */
/* Ver y aceptar solicitudes */

/* boton aceptar solicitudes */
.accordion-butto{
    height: 100%;
}

.accordion-header{
    height: 100%;
}

.accordion-button{
    height: 100%;

    background-color: #019EFF;
    border: solid 1px#000000;

    font-size: 18px;
    font-weight: bold;
}

/* contenedor solicitud de el usuario  */
.accordion-body{
    padding: .5rem;
}

.SolicitudUser{
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
}

/* nombre de usuario */
.NameUser{
    width: 80%;

    margin: 0;

    font-size: 12px;
    font-weight: bold;
}

.btn-slt{
    padding: 0rem 0rem 0rem .5rem;
    border: 0;
}

/* FIN Ver y aceptar solicitudes */

.icon-boton{
    display: none !important;
}

}

/* ------------------------------------- Estilos para pantallas de 463px a 577px ----------------------------------*/
@media (min-width: 463px) and (max-width: 577px) {

    /* informacion del aula */
.info-aula{
    background-color:#019EFF;

    display: flex;
    justify-content: space-between; 
}

.name-aula p{
    margin: 0;
    padding: 1rem 1rem;
    font-size: 16px;
    font-weight: bold;
}

.id-aula p{
    margin: 0;
    padding: 1rem 1rem;
    font-size: 16px;
    font-weight: bold;
}


/* conten principal con 3 botones */
.options-actvs{
    display: flex;
    width: 100%;
    height: 56px;    
}

/* BOTON 1 */
/* Agregar y ver actividades */

/* contenedor de agregar y ver actividades */
.accordion{
    width: 33.333%;
    height: 100%;
}

.accordion-item{
    height: 100%;
}

/* contenedor */
.contendbutton{
    text-align: center;
    height: 100%;
}


/* boton de agregar y ver actividades */
.accordion-button{
    background-color: #019EFF;
    border: solid 1px#000000;

    height: 100%;
}

/* boton y contenedor por actividad boton*/
.activity{ 
    display: flex;
    align-items: center;
    height: 100%;

    margin: .5rem 0;
}

.nameActivity{
    font-size: 14px;
    margin: 0;
}



/* Boton para abrir ventana para crear una actividad */
.btnCrear{
    font-size: 14px;

    margin-top: 2rem;
    padding: 0 1rem;
}

/* nombre del la ventana */
.modal-title{
    width: 95%;
}

/* contenedor del formulario body */
.conten-modal{
    width: 100%;
}

/* formulario inputs */
.card-instruc{
    width: 100%;
}

/* contenedor de los 3 inputs */
.cardDesc{
    background-color: #DEFCF9;
}



/* establecer fecha */
.fecha{
    width: 100%;
    text-align: center;
    font-weight: bold;

    margin-top: 2rem;
}

/* titulo fecha */
.nameDate{
    margin: 0;
    font-size: 18px;
    margin-left: 1rem;
    font-weight: normal;
    text-align: center;
}

/* fecha inicial y final */
.date-if{
    display:flex ;
    align-items: center;
    margin-top: 1rem;
}

/* FIN Agregar y ver actividades */



/* BOTON 2 */
/* Revisar actividades */

/* Button Abrir ventana de revisar actividades */
.contendButtonRevi{
    width: 33.333%;
    height: 100%;
}

.buttonActivityOptions{
    width: 100%;
    height: 100%;

    background-color: #019EFF;
    border: solid 1px#000000;

    padding: 0rem 1rem;
    border-radius: 0;
    
    font-size: 18px;
    font-weight: bold;
    color: #000000;

}
.buttonActivityOptions:hover{
    background-color: #019EFF;
    border: solid 1px#000000;
    color: #000000;
}

.name-btn-rev{
    width: 100%;
    margin: 0;
    font-size: 12px;
}

.icon-boton{
    margin: 0;
    display: none;
}

/* ventana revisar actividad */

/* lista de actividades por revisar */
.actividaxRevisar{
    display: flex;
    align-items: center;
    
    background-color: #019EFF;
    margin-top: 1rem;
    
}
.iconActividaxRevisar{
    margin-left: 1rem;
    width: 10%;
}

/* boton de revisar */
.btnActividadxRevisar{
    width: 90%;

    padding: 1rem;
    
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

/* FIN Revisar actividades */



/* BOTON 3 */
/* Ver y aceptar solicitudes */

/* boton aceptar solicitudes */
.accordion-butto{
    height: 100%;
}

.accordion-header{
    height: 100%;
}

.accordion-button{
    height: 100%;

    background-color: #019EFF;
    border: solid 1px#000000;

    font-size: 18px;
    font-weight: bold;
}

/* contenedor solicitud de el usuario  */
.accordion-body{
    padding: .5rem;
}

.SolicitudUser{
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
}

/* nombre de usuario */
.NameUser{
    width: 80%;

    margin: 0;

    font-size: 12px;
    font-weight: bold;
}

.btn-slt{
    padding: 0rem 0rem 0rem .5rem;
    border: 0;
}

/* FIN Ver y aceptar solicitudes */

.icon-boton{
    display: none !important;
}

}

/* -------------------------------------- Estilos para pantallas de 577px y 768px -------------------------------*/
@media (min-width: 577px) and (max-width: 768px) {

/* informacion del aula */
.info-aula{
    background-color:#019EFF;

    display: flex;
    justify-content: space-between; 
}

.name-aula p{
    margin: 0;
    padding: 1rem 1rem;
    font-size: 16px;
    font-weight: bold;
}

.id-aula p{
    margin: 0;
    padding: 1rem 1rem;
    font-size: 16px;
    font-weight: bold;
}


/* conten principal con 3 botones */
.options-actvs{
    display: flex;
    width: 100%;
    height: 56px;    
}

/* BOTON 1 */
/* Agregar y ver actividades */

/* contenedor de agregar y ver actividades */
.accordion{
    width: 33.333%;
    height: 100%;
}

.accordion-item{
    height: 100%;
}

/* contenedor */
.contendbutton{
    text-align: center;
    height: 100%;
}


/* boton de agregar y ver actividades */
.accordion-button{
    background-color: #019EFF;
    border: solid 1px#000000;

    height: 100%;
}

/* boton y contenedor por actividad boton*/
.activity{ 
    display: flex;
    align-items: center;
    height: 100%;

    margin: .5rem 0;
}

.nameActivity{
    font-size: 14px;
    margin: 0;
}



/* Boton para abrir ventana para crear una actividad */
.btnCrear{
    font-size: 14px;

    margin-top: 2rem;
    padding: 0 1rem;
}

/* nombre del la ventana */
.modal-title{
    width: 95%;
}

/* contenedor del formulario body */
.conten-modal{
    width: 100%;
}

/* formulario inputs */
.card-instruc{
    width: 100%;
}

/* contenedor de los 3 inputs */
.cardDesc{
    background-color: #DEFCF9;
}



/* establecer fecha */
.fecha{
    width: 100%;
    text-align: center;
    font-weight: bold;

    margin-top: 2rem;
}

/* titulo fecha */
.nameDate{
    margin: 0;
    font-size: 18px;
    margin-left: 1rem;
    font-weight: normal;
    text-align: center;
}

/* fecha inicial y final */
.date-if{
    display:flex ;
    align-items: center;
    margin-top: 1rem;
}

/* FIN Agregar y ver actividades */



/* BOTON 2 */
/* Revisar actividades */

/* Button Abrir ventana de revisar actividades */
.contendButtonRevi{
    width: 33.333%;
    height: 100%;
}

.buttonActivityOptions{
    width: 100%;
    height: 100%;

    background-color: #019EFF;
    border: solid 1px#000000;

    padding: 0rem 1rem;
    border-radius: 0;
    
    font-size: 18px;
    font-weight: bold;
    color: #000000;

}
.buttonActivityOptions:hover{
    background-color: #019EFF;
    border: solid 1px#000000;
    color: #000000;
}

.name-btn-rev{
    width: 100%;
    margin: 0;
    font-size: 12px;
}

.icon-boton{
    margin: 0;
    display: none;
}

/* ventana revisar actividad */

/* lista de actividades por revisar */
.actividaxRevisar{
    display: flex;
    align-items: center;
    
    background-color: #019EFF;
    margin-top: 1rem;
    
}
.iconActividaxRevisar{
    margin-left: 1rem;
    width: 10%;
}

/* boton de revisar */
.btnActividadxRevisar{
    width: 90%;

    padding: 1rem;
    
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

/* FIN Revisar actividades */



/* BOTON 3 */
/* Ver y aceptar solicitudes */

/* boton aceptar solicitudes */
.accordion-butto{
    height: 100%;
}

.accordion-header{
    height: 100%;
}

.accordion-button{
    height: 100%;

    background-color: #019EFF;
    border: solid 1px#000000;

    font-size: 18px;
    font-weight: bold;
}

/* contenedor solicitud de el usuario  */
.accordion-body{
    padding: .5rem;
}

.SolicitudUser{
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
}

/* nombre de usuario */
.NameUser{
    width: 80%;

    margin: 0;

    font-size: 12px;
    font-weight: bold;
}

.btn-slt{
    padding: 0rem 0rem 0rem .5rem;
    border: 0;
}

/* FIN Ver y aceptar solicitudes */

.icon-boton{
    display: none !important;
}

}

/* -------------------------------------- Estilos para pantallas de 768px y 992px -------------------------------*/
@media (min-width: 768px) and (max-width: 992px) {

/* conten principal con 3 botones */
.options-actvs{
    display: flex;
    width: 100%;
    height: 86px;    
}

/* BOTON 1 */
/* Agregar y ver actividades */

/* contenedor de agregar y ver actividades */
.accordion{
    width: 33.333%;
    height: 100%;
}

.accordion-item{
    height: 100%;
}

/* contenedor */
.contendbutton{
    text-align: center;
    height: 100%;
}


/* boton de agregar y ver actividades */
.accordion-button{
    background-color: #019EFF;
    border: solid 1px#000000;

    height: 100%;

    font-size: 18px;
    font-weight: bold;
}

/* boton y contenedor por actividad boton*/
.activity{ 
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
}

.nameActivity{
    width: 80%;

    margin: 0;

    font-size: 18px;
    font-weight: bold;
}

/* Boton para abrir ventana para crear una actividad */
.btnCrear{
    font-size: 24px;

    margin-top: 2rem;
    padding: 0 1rem;
}

/* nombre del la ventana */
.modal-title{
    width: 95%;
}

/* contenedor del formulario body */
.conten-modal{
    width: 100%;
}

/* formulario inputs */
.card-instruc{
    width: 100%;
}

/* contenedor de los 3 inputs */
.cardDesc{
    background-color: #DEFCF9;
}



/* establecer fecha */
.fecha{
    width: 100%;
    text-align: center;
    font-weight: bold;

    margin-top: 2rem;
}

/* titulo fecha */
.nameDate{
    margin: 0;
    font-size: 18px;
    margin-left: 1rem;
    font-weight: normal;
    text-align: center;
}

/* fecha inicial y final */
.date-if{
    display:flex ;
    align-items: center;
    margin-top: 1rem;
}

/* FIN Agregar y ver actividades */



/* BOTON 2 */
/* Revisar actividades */

/* Button Abrir ventana de revisar actividades */
.contendButtonRevi{
    width: 33.333%;
    height: 100%;
}

.buttonActivityOptions{
    width: 100%;
    height: 100%;

    background-color: #019EFF;
    border: solid 1px#000000;

    padding: 1rem;
    border-radius: 0;
    
    font-size: 18px;
    font-weight: bold;
    color: #000000;

}
.buttonActivityOptions:hover{
    background-color: #019EFF;
    border: solid 1px#000000;
    color: #000000;
}

.name-btn-rev{
    width: 100%;
    margin: 0;
}

.icon-boton{
    margin: 0;
}

/* ventana revisar actividad */

/* lista de actividades por revisar */
.actividaxRevisar{
    display: flex;
    align-items: center;
    
    background-color: #019EFF;
    margin-top: 1rem;
    
}
.iconActividaxRevisar{
    margin-left: 1rem;
    width: 10%;
}

/* boton de revisar */
.btnActividadxRevisar{
    width: 90%;

    padding: 1rem;
    
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

/* FIN Revisar actividades */



/* BOTON 3 */
/* Ver y aceptar solicitudes */

/* boton aceptar solicitudes */
.accordion-butto{
    height: 100%;
}

.accordion-header{
    height: 100%;
}

.accordion-button{
    height: 100%;

    background-color: #019EFF;
    border: solid 1px#000000;

    font-size: 18px;
    font-weight: bold;
}

/* contenedor solicitud de el usuario  */
.SolicitudUser{
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
}

/* nombre de usuario */
.NameUser{
    width: 80%;

    margin: 0;

    font-size: 18px;
    font-weight: bold;
}

/* FIN Ver y aceptar solicitudes */

}

/* -------------------------------------- Estilos para pantallas de 992px y 1200px -------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {


/* conten principal con 3 botones */
.options-actvs{
    display: flex;
    
}


/* BOTON 1 */
/* Agregar y ver actividades */

/* contenedor de agregar y ver actividades */
.accordion{
    width: 33.333%;
}

/* contenedor */
.contendbutton{
    text-align: center;
}



/* boton de agregar y ver actividades */
.accordion-button{
    background-color: #019EFF;
    border: solid 1px#000000;

    font-size: 18px;
    font-weight: bold;
}
.icon{
    margin-left: 20%;
}



/* boton y contenedor por actividad boton*/
.activity{ 
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
}

.nameActivity{
    width: 80%;

    margin: 0;

    font-size: 18px;
    font-weight: bold;
}



/* Boton para abrir ventana para crear una actividad */
.btnCrear{
    font-size: 24px;

    margin-top: 2rem;
    padding: 0 1rem;
}

/* nombre del la ventana */
.modal-title{
    width: 95%;
}


/* contenedor del formulario body */
.conten-modal{
    display: flex;
}

/* formulario inputs */
.card-instruc{
    width: 50%;
    margin: 1rem;
}

/* contenedor de los 3 inputs */
.cardDesc{
    background-color: #DEFCF9;
}



/* establecer fecha */
.fecha{
    margin: 2rem;
    text-align: center;
    font-weight: bold;
}

/* titulo fecha */
.nameDate{
    margin: 0;
    font-size: 18px;
    margin-left: 1rem;
    font-weight: normal;
}

/* fecha inicial y final */
.date-if{
    display:flex ;
    align-items: center;
    margin-top: 1rem;
}

/* FIN Agregar y ver actividades */



/* BOTON 2 */
/* Revisar actividades */

/* Button Abrir ventana de revisar actividades */
.contendButtonRevi{
    width: 33.333%;
}

.buttonActivityOptions{
    display: flex;
    width: 100%;

    text-align: center;
    align-items: center;
    justify-content: center;

    background-color: #019EFF;
    border: solid 1px#000000;

    padding: 1rem;
    border-radius: 0;
    
    font-size: 18px;
    font-weight: bold;
    color: #000000;

}
.buttonActivityOptions:hover{
    background-color: #019EFF;
    border: solid 1px#000000;
    color: #000000;
}

.name-btn-rev{
    width: 100%;
    margin: 0;
}

.icon-boton{
    margin: 0;
}

/* ventana revisar actividad */

/* lista de actividades por revisar */
.actividaxRevisar{
    display: flex;
    align-items: center;
    
    background-color: #019EFF;
    margin-top: 1rem;
    
}
.iconActividaxRevisar{
    margin-left: 1rem;
    width: 10%;
}

/* boton de revisar */
.btnActividadxRevisar{
    width: 90%;

    padding: 1rem;
    
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

/* FIN Revisar actividades */



/* BOTON 3 */
/* Ver y aceptar solicitudes */

/* boton aceptar solicitudes */
.accordion-button{
    background-color: #019EFF;
    border: solid 1px#000000;

    font-size: 18px;
    font-weight: bold;
}

/* contenedor solicitud de el usuario  */
.SolicitudUser{
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
}

/* nombre de usuario */
.NameUser{
    width: 80%;

    margin: 0;

    font-size: 18px;
    font-weight: bold;
}

/* FIN Ver y aceptar solicitudes */    

}

/* -------------------------------------- Estilos para pantallas de 1200px y 1400px -------------------------------*/
@media (min-width: 1200px) and (max-width: 1400px) {

/* conten principal con 3 botones */
.options-actvs{
    display: flex;
    
}


/* BOTON 1 */
/* Agregar y ver actividades */

/* contenedor de agregar y ver actividades */
.accordion{
    width: 33.333%;
}

/* contenedor */
.contendbutton{
    text-align: center;
}



/* boton de agregar y ver actividades */
.accordion-button{
    background-color: #019EFF;
    border: solid 1px#000000;

    font-size: 18px;
    font-weight: bold;
}
.icon{
    margin-left: 20%;
}



/* boton y contenedor por actividad boton*/
.activity{ 
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
}

.nameActivity{
    width: 80%;

    margin: 0;

    font-size: 18px;
    font-weight: bold;
}



/* Boton para abrir ventana para crear una actividad */
.btnCrear{
    font-size: 24px;

    margin-top: 2rem;
    padding: 0 1rem;
}

/* nombre del la ventana */
.modal-title{
    width: 95%;
}


/* contenedor del formulario body */
.conten-modal{
    display: flex;
}

/* formulario inputs */
.card-instruc{
    width: 50%;
    margin: 1rem;
}

/* contenedor de los 3 inputs */
.cardDesc{
    background-color: #DEFCF9;
}



/* establecer fecha */
.fecha{
    margin: 2rem;
    text-align: center;
    font-weight: bold;
}

/* titulo fecha */
.nameDate{
    margin: 0;
    font-size: 18px;
    margin-left: 1rem;
    font-weight: normal;
}

/* fecha inicial y final */
.date-if{
    display:flex ;
    align-items: center;
    margin-top: 1rem;
}

/* FIN Agregar y ver actividades */



/* BOTON 2 */
/* Revisar actividades */

/* Button Abrir ventana de revisar actividades */
.contendButtonRevi{
    width: 33.333%;
}

.buttonActivityOptions{
    display: flex;
    width: 100%;

    text-align: center;
    align-items: center;
    justify-content: center;

    background-color: #019EFF;
    border: solid 1px#000000;

    padding: 1rem;
    border-radius: 0;
    
    font-size: 18px;
    font-weight: bold;
    color: #000000;

}
.buttonActivityOptions:hover{
    background-color: #019EFF;
    border: solid 1px#000000;
    color: #000000;
}

.name-btn-rev{
    width: 80%;
    margin: 0;
}

.icon-boton{
    margin: 0;
}

/* ventana revisar actividad */

/* lista de actividades por revisar */
.actividaxRevisar{
    display: flex;
    align-items: center;
    
    background-color: #019EFF;
    margin-top: 1rem;
    
}
.iconActividaxRevisar{
    margin-left: 1rem;
    width: 10%;
}

/* boton de revisar */
.btnActividadxRevisar{
    width: 90%;

    padding: 1rem;
    
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

/* FIN Revisar actividades */



/* BOTON 3 */
/* Ver y aceptar solicitudes */

/* boton aceptar solicitudes */
.accordion-button{
    background-color: #019EFF;
    border: solid 1px#000000;

    font-size: 18px;
    font-weight: bold;
}

/* contenedor solicitud de el usuario  */
.SolicitudUser{
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
}

/* nombre de usuario */
.NameUser{
    width: 80%;

    margin: 0;

    font-size: 18px;
    font-weight: bold;
}

/* FIN Ver y aceptar solicitudes */
    

}

/* --------------------------------------- Estilos para pantallas de 1400px o más -------------------------------*/
@media (min-width: 1400px) {

/* conten principal con 3 botones */
.options-actvs{
    display: flex;
    
}


/* BOTON 1 */
/* Agregar y ver actividades */

/* contenedor de agregar y ver actividades */
.accordion{
    width: 33.333%;
}

/* contenedor */
.contendbutton{
    text-align: center;
}



/* boton de agregar y ver actividades */
.accordion-button{
    background-color: #019EFF;
    border: solid 1px#000000;

    font-size: 18px;
    font-weight: bold;
}
.icon{
    margin-left: 20%;
}



/* boton y contenedor por actividad boton*/
.activity{ 
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
}

.nameActivity{
    width: 80%;

    margin: 0;

    font-size: 18px;
    font-weight: bold;
}



/* Boton para abrir ventana para crear una actividad */
.btnCrear{
    font-size: 24px;

    margin-top: 2rem;
    padding: 0 1rem;
}

/* nombre del la ventana */
.modal-title{
    width: 95%;
}

/* contenedor del formulario body */
.conten-modal{
    display: flex;
}

/* formulario inputs */
.card-instruc{
    width: 50%;
    margin: 1rem;
}

/* contenedor de los 3 inputs */
.cardDesc{
    background-color: #DEFCF9;
}



/* establecer fecha */
.fecha{
    margin: 2rem;
    text-align: center;
    font-weight: bold;
}

/* titulo fecha */
.nameDate{
    margin: 0;
    font-size: 18px;
    margin-left: 1rem;
    font-weight: normal;
}

/* fecha inicial y final */
.date-if{
    display:flex ;
    align-items: center;
    margin-top: 1rem;
}

/* FIN Agregar y ver actividades */



/* BOTON 2 */
/* Revisar actividades */

/* Button Abrir ventana de revisar actividades */
.contendButtonRevi{
    width: 33.333%;
}

.buttonActivityOptions{
    display: flex;
    width: 100%;

    text-align: center;
    align-items: center;
    justify-content: center;

    background-color: #019EFF;
    border: solid 1px#000000;

    padding: 1rem;
    border-radius: 0;
    
    font-size: 18px;
    font-weight: bold;
    color: #000000;

}
.buttonActivityOptions:hover{
    background-color: #019EFF;
    border: solid 1px#000000;
    color: #000000;
}

.name-btn-rev{
    width: 80%;
    margin: 0;
}

.icon-boton{
    margin: 0;
}

/* ventana revisar actividad */

/* lista de actividades por revisar */
.actividaxRevisar{
    display: flex;
    align-items: center;
    
    background-color: #019EFF;
    margin-top: 1rem;
    
}
.iconActividaxRevisar{
    margin-left: 1rem;
    width: 10%;
}

/* boton de revisar */
.btnActividadxRevisar{
    width: 90%;

    padding: 1rem;
    
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

/* FIN Revisar actividades */



/* BOTON 3 */
/* Ver y aceptar solicitudes */

/* boton aceptar solicitudes */
.accordion-button{
    background-color: #019EFF;
    border: solid 1px#000000;

    font-size: 18px;
    font-weight: bold;
}

/* contenedor solicitud de el usuario  */
.SolicitudUser{
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
}

/* nombre de usuario */
.NameUser{
    width: 80%;

    margin: 0;

    font-size: 18px;
    font-weight: bold;
}

/* FIN Ver y aceptar solicitudes */

}