*{
    margin: 0;
    padding: 0;
}

.info-aula{
    background-color:#019EFF;

    display: flex;
    justify-content: space-between;
    
}


.name-aula p{
    margin: 0;
    padding: 1rem 2rem;
    font-size: 24px;
    font-weight: bold;
}

.id-aula p{
    margin: 0;
    padding: 1rem 2rem;
    font-size: 24px;
    font-weight: bold;
}




.options-actvs{
    display: flex;
    
}

.accordion{
    width: 33.333%;
}

.accordion-button{
    background-color: #019EFF;
    border: solid 1px#000000;

    font-size: 18px;
    font-weight: bold;
}

.btnmodal{
    background-color: #019EFF;
    border: solid 1px#000000;

    font-size: 18px;
    font-weight: bold;
}

.contendbutton{
    text-align: center;
}

.accordion-button{
    padding-left: 10%;
}

.icon{
    margin-left: 20%;
}



.activity{
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
}

.nameActivity{
    width: 80%;

    margin: 0;

    font-size: 18px;
    font-weight: bold;

}


.contendButton{
    text-align: center;
}

.btnCrear{
    font-size: 24px;

    margin-top: 2rem;
    padding: 0 1rem;
}



.cardTitle{
    background-color: #3C84AB;
    
}

.cardDesc{
    background-color: #DEFCF9;
}


.intructions{
    border: solid 1px #000000;
    width: 100%;
    height: 4rem;

}

.inputInstr{
    background-color: #defcf9d2;
    height: 8rem;
}


.conten-modal{
    display: flex;
}

.card-instruc{
    width: 50%;
    margin: 1rem;
}

.fecha{
    margin: 2rem;
    text-align: center;
    font-weight: bold;
}

.date-if{
    display:flex ;
    align-items: center;
    margin-top: 1rem;
}


.nameDate{
    margin: 0;
    font-size: 18px;
    margin-left: 1rem;
    font-weight: normal;
}


.modal-header{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #3C84AB;
}

.modal-header .btn-close {
    margin: 0;
}

.TitleModal{
    width: 95%;
}

.Para{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.ParaOption{
    margin: 0;
    font-size: 18px;
    margin-right: 1rem;

}

.SolicitudUser{
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
}

.NameUser{
    width: 80%;

    margin: 0;

    font-size: 18px;
    font-weight: bold;
}




.InfoActyMost{
    background: #3C84AB;
    display: flex;
    padding: 1rem;
    align-items: center;
    margin-top: 1rem;
}

.iconActivity{
    margin: 0;
    margin-right: 2rem;
}

.NameActivityM{
    margin: 0;
}



.contendButtonRevi{
    width: 33.333%;
}

.buttonActivityOptions{
    width: 100%;

    background-color: #019EFF;
    border: solid 1px#000000;

    padding: 1rem;
    border-radius: 0;
    
    font-size: 18px;
    font-weight: bold;
    color: #000000;

}

.buttonActivityOptions:hover{
    background-color: #019EFF;
    border: solid 1px#000000;
    color: #000000;
}




.actividaxRevisar{
    display: flex;
    align-items: center;
    
    background-color: #019EFF;
    margin-top: 1rem;
    
}

.iconActividaxRevisar{
    margin-left: 1rem;
    width: 10%;
}

.btnActividadxRevisar{
    width: 90%;

    padding: 1rem;
    
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}



.titleVistas{
    background-color: #019EFF;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 100%;
} 

/* tabla semana */
.encabezadoSemana{
    display: flex;

    background-color: #a0a0a0;

    padding: 1rem 0rem;
    margin: 1rem 0rem;
}

.titleSem{
    width: 20%;
}


.nameSem{
    margin-left: 1rem;
    font-size: 16px;
    font-weight: bold;
    color: #000000;

    margin-bottom: 0rem;
}

.diasDeSem{
    display: flex;
    width: 65%;

    justify-content: space-between;
}

.diaSem{
    margin-bottom: 0rem;

    font-size: 16px;
    font-weight: bold;
    color: #000000;

    padding: 0rem .5rem;

}





.alumnoActivSem{
    display: flex;
    width: 100%;

    background-color: #bababa;
}

.conteNameAlumno{
    width: 20%;
}
.nameAlumno{
    margin-left: 1rem;
    font-size: 16px;
    font-weight: bold;
    color: #000000;

    margin-bottom: 0rem;
}


.resultadosDia{
    width: 65%;
    display: flex;

    justify-content: space-between;
}

.cumplimientoDia{
    margin-bottom: 0rem;

    font-size: 16px;
    font-weight: bold;
    color: #000000;

    padding: 0rem 1rem;
}



.notaSema{
    width: 15%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.btnVerNotas{
    margin-bottom: 0rem;

    font-size: 16px;
    font-weight: bold;
    color: #3C84AB;

    padding: 0rem 1rem;
}





.titleSemNotas{
    width: 20%;
}

.diasDeSemNotas{
    width: 80%;
    display: flex;

    justify-content: space-between;
}


.conteNameAlumnoNotas{
    width: 20%;
}

.resultadosDiaNotas{
    width: 80%;
    display: flex;

    justify-content: space-between;
}

.notasDia{
    margin-bottom: 0rem;

    font-size: 12px;
    color: #000000;

    padding: 0rem 0.5rem;
}








.btnVolver{
    margin-top: 4rem;
}






/* Contenedor Oculto */
.contenedor-actividades{
    visibility: hidden;
    display: none;
}


/* La clase active hace que el contenedor se vea */
.contenedor-actividades.activo{
    visibility: visible;
    display: block;
}

.contenedor-actividades.desactivo{
    visibility: hidden;
    display: none;
}

