*{
    margin: 0;
    padding: 0;
}

/* contenedor principal */
.contain-pr{
    width: 100%;
}


/* titulo */
.cont-titulo{
    width: 100%;

    background-color: #019EFF;
    background-color: #3C84AB;
    
}

.text-titulo{
    padding: 1rem;

}

.tabla {
    border-collapse: collapse;
    width: 100%;
}



.encabezado {
    background-color: #ddd;
}

.nombre-usuario {
    width: 10%;
    background-color: #00FFFF;
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    
}

.nombre-dia {
    width: 50%;
    height: 150px;
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    background-color: #3C84AB;
}

/* Estilo para las primeras cuatro celdas de la columna nombre-dia */
.nombre-dia:nth-child(-n+3) {
    display: inline-block;
}

/* Estilo para las celdas restantes de la columna nombre-dia */
.nombre-dia:nth-child(n+4) {
    display: inline-block;
}





/* ------------------------------------- Estilos para pantallas de 463px o menos ----------------------------------*/
@media (max-width: 463px) {
  

}

/* ------------------------------------- Estilos para pantallas de 463px a 577px ----------------------------------*/
@media (min-width: 463px) and (max-width: 577px) {


}

/* -------------------------------------- Estilos para pantallas de 577px y 768px -------------------------------*/
@media (min-width: 577px) and (max-width: 768px) {


}

/* -------------------------------------- Estilos para pantallas de 768px y 992px -------------------------------*/
@media (min-width: 768px) and (max-width: 992px) {
  

}

/* -------------------------------------- Estilos para pantallas de 992px y 1200px -------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {


}

/* --------------------------------------- Estilos para pantallas de 1400px o más -------------------------------*/
@media (min-width: 1400px) {

}
